.temperatureDisplay {
  font-size: 80px;
}
.temperature,
.humidity {
  text-align: center;
}

.humidity {
  font-size: 50%;
}

.systemStatus {
  display: flex;
  justify-content: center;
  font-size: 65%;
}

.statusIcon{
  width:60px !important;
  height:60px !important;
}
.status {
  padding: 10px;
}
