version: "3.3"
services:
  thermostat:
    image: tbiegner99/thermostat-backend:v1.4.0
    # build: ./server
    platform: linux/arm64
    restart: always
    container_name: thermostat
    privileged: true
    volumes:
      - ./server/src:/srv/package/src
      - ./server/database:/srv/package/database
    devices:
      - /dev/gpiomem:/dev/gpiomem
    logging:
      options:
        max-size: "20m"
        max-file: "10"
    environment:
      - "ZONE_NAME=Living Room"
      - "ZONE_DESCRIPTION=Living Room"
      - CONTEXT_ROOT=/api
      - APP_PORT=8080
      - APP_NAME="Living Room Thermostat"
      - TEMPERATURE_SENSOR_PIN=3
      - REPORT_INTERVAL_SECONDS=15
      - CHECK_INTERVAL_SECONDS=5
      - HEATING_CONTROLLER_TYPE=gpio
      - HEATING_CONTROLLER_PIN=4
      - HEATING_CONTROLLER_INVERTED_LOGIC=false
      - COOLING_CONTROLLER_TYPE=wemo
      - COOLING_CONTROLLER_HOST=192.168.2.203
      - COOLING_CONTROLLER_PORT=49153
      - USE_KAFKA=true
      - KAFKA_TOPIC=temperature-readings
      - KAFKA_BROKERS=192.168.2.202:9092
      - KAFKA_INTERVAL=60
      - MQTT_BROKER=tcp://home-assistant:1883
      - MQTT_TOPIC_Temperature=livingRoom/thermostat/temperature/current
      - MQTT_TOPIC_Humidity=livingRoom/thermostat/humidity/current
      - MQTT_USER=tj
      - USE_MQTT=true
      - MQTT_BASE_TOPIC=livingRoom/thermostat
      - MQTT_PASSWORD=Letsgomets99!
      - MQTT_REPORTING_INTERVAL=30000
      - ENABLE_MQTT_REPORTER=true
   
    ports:
      - 8080:8080
    # command: node
    # tty: true
  ui:
    image: tbiegner99/thermostat-ui
    platform: linux/arm64
    restart: always
    container_name: ui
    volumes:
      - ./ui/docker_nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - thermostat
    logging:
      options:
        max-size: "20m"
        max-file: "10"
    ports:
      - 80:80
    # command: tail --follow /etc/nginx/nginx.conf
    # tty: true
