.temperatureSelect {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.temperatureSelect {
  user-select: none;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.disabled {
  color: grey;
  opacity: 0.6;
}
.arrow.disabled {
  cursor: not-allowed;
}
